.content {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   margin: 20px auto;
}

.cards1 {
   width: 30%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;
   border: 2px solid #BDBDBD;
   border-radius: 10px;
   margin-bottom: 20px;
}

.cards1 img {
   width: 100%;
}

.cards1 a {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 5px 15px;
   box-shadow: 0 -4px #007BC6 inset;
   transition: all 2s;
}
.cards1 a:hover{
   box-shadow: 0 50px #007BC6 inset;
}
@media screen and (max-width: 800px) {
   .cards1 {
      width: 40%;
   }
}

@media screen and (max-width: 768px) {
   .cards1 {
      width: 50%;
   }
}

@media screen and (max-width: 500px) {
   .cards1 {
      width: 100%;
   }
}